package ${model.basePkgName};

import com.inca.saas.miniui.MiniSteController;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.servlet.ModelAndView;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import java.util.Map;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

@Controller
@RequestMapping(${model.controllerName}Controller.funcPath)
public class ${model.controllerName}Controller extends MiniSteController {
	final Log log = LogFactory.getLog(getClass());
	
    public static  final String funcPath="${model.funcPath}";
	
    @Override
    public ModelAndView getHomeModelAndView(ModelAndView defaultModelAndView) {
        return super.getHomeModelAndView(defaultModelAndView);
    }
	
	@RequestMapping(value = "/importTemp", method = RequestMethod.GET)
	public void download(HttpServletRequest request, HttpServletResponse response) throws Exception {
	    Map<String,Object> map = new LinkedHashMap<>();
		serviceManager.lookup(CommonService.SERVICE_NAME, CommonService.class).download(request, response, map);
	}
}
