package ${model.basePkgName};

import com.inca.saas.miniui.MiniuiQuery;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.util.StringUtils;

@Service(${model.controllerName}Service.SERVICE_NAME)
@Transactional
public class ${model.controllerName}ServiceImpl extends MiniBaseServiceImpl implements ${model.controllerName}Service {
	final Log log = LogFactory.getLog(getClass());
	
	@Override
    public String getBaseSQL(MiniuiQuery query) {
        query.setLoggerPrefix(${model.prefix});
        StringBuffer whereSQL = getWhereSQL(query);
        String sql = "${model.baseSql}"+whereSQL.toString();
		
        String wheres = getWheres(query);
        if(!StringUtils.isEmpty(wheres)){
            sql="select * from ("+sql+") a where "+wheres;
        }
        return sql;
    }
	
	 private StringBuffer getWhereSQL(MiniuiQuery query){
		StringBuffer sb = new StringBuffer();
		 return sb;
	 }
}
