<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<title>通用入库单（门店）</title>
<meta charset="UTF-8"></meta>
<link th:href="@{/lib/miniui/demo.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/lib/miniui/boot.js}" type="text/javascript"></script> 
<style type="text/css">
.mini-pager-size .mini-combobox{
	width:63px;
}
.mini-buttonedit-input{
	line-height:20px;
}

.modal-backdrop {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.mini-grid-summaryRow-view tr:nth-child(2) td{
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	background:#FFFDCF;
	font-weight: bold;
}
</style>

</head>
<body>
	<div class="home-page">
		<div class="mini-toolbar" style="border-bottom: 0; padding: 0px;padding-top:10px;padding-bottom:5px;">
			<table border="0" cellpadding="1" cellspacing="2"  style="width: 100%;">
				<tr>
					<td style="width: 100%;">
					<a class="mini-button mini-ibs-btn" iconCls="icon-add" id="addRow" onclick="addRow()" plain="true" >增加</a> 
					<a class="mini-button mini-ibs-btn" iconCls="icon-remove" id="removeDocRow" onclick="removeRow()" plain="true">删除</a>
					<a class="mini-button mini-ibs-btn" onclick="cancelToParent()" plain="true">返回</a>
					<span class="separator"></span> 
					<a class="mini-button mini-ibs-btn" iconCls="icon-add" id="addRow" onclick="generateCode()" plain="true" >生成代码</a> 
					</td>
				</tr>
			</table>
		</div>
		<div id="doc_grid" class="mini-datagrid" style="height:450px;" allowResize="true" url="/miniCodegen/miniuiSearch"  allowCellEdit="true" allowCellSelect="true" multiSelect="true" 
        editNextOnEnterKey="true"  editNextRowCell="true" showPager="false" allowSortColumn="false" >
			<div property="columns">
				<div type="indexcolumn" width="60" headerAlign="center">#</div>
				<div type="checkcolumn" width="60"></div>
				 <div name="title"  field="title" headerAlign="center" allowSort="true" width="150" >标题
                	<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 </div>
           		 <div name="name"  field="name" headerAlign="center" allowSort="true" width="150" >字段名
                	<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 </div>
	             <div type="comboboxcolumn" autoShowPopup="true" name="metaType" field="metaType" width="100" allowSort="true"  align="center" headerAlign="center">字段类型
	                <input property="editor" class="mini-combobox" style="width:100%;" data="MetaType" />                
	             </div>
	             
	              <div header="控件类型：属于表格卡片中属性">
	                <div property="columns">
           		 		 <div type="comboboxcolumn" autoShowPopup="true" name="comp" field="comp" width="200" allowSort="true"  align="center" headerAlign="center">控件类型
	                		<input property="editor" class="mini-combobox" style="width:100%;" data="Comp" />                
	             		</div>
	                </div>
            	</div>
				<div type="checkboxcolumn" field="dbCol" trueValue="1" falseValue="0" width="150" headerAlign="center" >数据库字段</div>
				<div name="width"  field="width" headerAlign="center" allowSort="true" width="150" >宽度
                	<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 </div>        
      		 	<div type="checkboxcolumn" field="readOnly" trueValue="true" falseValue="false" width="150" headerAlign="center">是否只读</div>
      		 	<div type="checkboxcolumn" field="hidden" trueValue="true" falseValue="false" width="150" headerAlign="center">是否隐藏</div>
      		 	<div type="checkboxcolumn" field="advQuery" trueValue="true" falseValue="false" width="150" headerAlign="center">高级查询</div>
      		 	<div type="checkboxcolumn" field="query" trueValue="true" falseValue="false" width="150" headerAlign="center">普通查询</div>
      		 	<div type="checkboxcolumn" field="required" trueValue="true" falseValue="false" width="150" headerAlign="center">必填</div>
      		 	<div type="checkboxcolumn" field="keyword" trueValue="true" falseValue="false" width="150" headerAlign="center">关键字过滤</div>
      		 	<div type="checkboxcolumn" field="virtual" trueValue="true" falseValue="false" width="150" headerAlign="center">虚拟列</div>
      		 	<div name="convert"  field="convert" headerAlign="center" allowSort="true" width="150" >转换器
                	<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 </div>
           		<div header="系统选项">
	                <div property="columns">
           		 		<div name="sysOption.keyword"  field="sysOption.keyword" headerAlign="center"  width="200" >选项值
                			<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 		</div>
           		 		<div type="comboboxcolumn" autoShowPopup="true" name="sysOption.scope" field="sysOption.scope"  width="200" headerAlign="center">范围
	                		<input property="editor" class="mini-combobox" style="width:100%;" data="Scope" />                
	             		</div>
	                </div>
            	</div>
            	<div header="Hov选项">
	                <div property="columns">
	                	<div type="checkboxcolumn" field="isHov" trueValue="true" falseValue="false" width="150" headerAlign="center">是否为hov</div>
	                	<!-- <div name="hovOption.field"  field="hovOption.field" headerAlign="center" allowSort="true" width="100" >hov字段名
                			<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 		</div> -->
           		 		<div name="hovOption.url"  field="hovOption.url" headerAlign="center" allowSort="true" width="200" >hov地址
                			<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 		</div>
           		 		<div name="hovOption.scope"  field="hovOption.scope" headerAlign="center" allowSort="true" width="200" >hov范围
                			<input property="editor" class="mini-combobox" style="width:100%;" minWidth="200" data="Scope"/>
           		 		</div>
           		 		<div field="hovOption.hovMapping" width="120" headerAlign="center" name="hovOption.hovMapping" displayField="hovOption.hovMapping">下拉默认回填
							<input property="editor" class="mini-buttonedit" onbuttonclick="onHowMapping"/>
						</div>
						<div type="checkboxcolumn" field="hovOption.autoComplete" trueValue="true" falseValue="false" width="200" headerAlign="center">hov是否为下拉形式</div>
	                	<div name="hovOption.searchUrl"  field="hovOption.searchUrl" headerAlign="center" allowSort="true" width="200" >hov下拉查询地址
                			<input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
           		 		</div>
           		 		<div field="hovOption.dropDown" id="dropDown" width="120" headerAlign="center" displayField="hovOption.dropDown" name="hovOption.dropDown">下拉显示
							<input property="editor" class="mini-buttonedit" onbuttonclick="onDropDown"/>
						</div>
	                </div>
            	</div>
			</div>
		</div>
		<div class="mini-toolbar" style="border-bottom: 0; padding: 0px;padding-top:10px;padding-bottom:5px;">
			<table style="width: 100%;">
				<tr>
					<td style="width: 100%;">
					<a class="mini-button mini-ibs-btn" plain="true" iconCls="icon-add" id="addSysButton" onclick="addSysButton()">新增按钮</a> 
					</td>
				</tr>
			</table>
		</div>
		<div id="dtl_grid" class="mini-datagrid"  url="/IBSWAR122/miniuiDtlSearch" showColumnsMenu="true" style="height:80px;" idField="id" showPager="false" allowResize="true" multiSelect="true">
		</div>
	</div>
	<script th:inline="javascript">
	//<![CDATA[
	//状态下拉选项
	mini.parse();
// 	function getData(){
// 		var data = window.parent.parent.getData();
//     	return data;
// 	}
	var doc_grid = mini.get("doc_grid");
    var dtl_grid = mini.get("dtl_grid");
    var formStatus = /*[[${formStatus}]]*/;
	var	getData = mini.decode(window.parent.parent.getData());
	if(formStatus == "0"){//单表
	    if(!isNull(getData.entityName)){
	    	getDataColumns(getData.entityName,getData.baseSql,getData.className);
	    }
	}else if(formStatus == "1"){//总单
		if(!isNull(getData[0].docEntityName)){
	    	getDataColumns(getData[0].docEntityName,getData[0].docBaseSql,getData[0].className);
	    }
	}else if(formStatus == "2"){//细单
		if(!isNull(getData[0].dtlEntityName)){
	    	getDataColumns(getData[0].dtlEntityName,getData[0].dtlBaseSql,getData[0].className);
	    }
	}
	
	function getDataColumns(name,baseSql,className){
		doc_grid.load({entityName:name,sql:baseSql,className:className},function(e){
	    	var columnsTemp = mini.decode(e.result.codegenTableColumn);
	    	dtl_grid.set(columnsTemp);
	    });
	}
    
	function addRow() {          
       var newRow = { name: "" };
       doc_grid.addRow(newRow, doc_grid.length +1);
       doc_grid.beginEditCell(newRow);
    }
    function removeRow() {
         var rows = doc_grid.getSelecteds();
         if (rows.length > 0) {
            doc_grid.removeRows(rows, true);                
         }
    }
        var MetaType = [
                       { id: "java.lang.Integer", text: 'Integer' },
                       { id: "java.lang.String", text: 'String'},
                       { id: "java.sql.Timestamp", text: 'Timestamp'},
                       { id: "java.lang.Boolean", text: 'Boolean'},
                       { id: "java.sql.Date", text: 'Date'},
                       { id: "java.math.BigDecimal", text: 'BigDecimal'},
        ];
        
        var Comp = [
                        { id: "date", text: 'date' },
                        { id: "datetime", text: 'datetime'},
                        { id: "text", text: 'text'},
                        { id: "hov", text: 'hov'},
                        { id: "combobox",text:'combobox'},
                        { id: "checkbox",text:'checkbox'}
                        
         ];
        
        var Scope = [
                     { id: "表格,表单,查询,高级查询", text: '表格,表单,查询,高级查询' },
                     { id: "表格", text: '表格'},
                     { id: "表单", text: '表单'},
                     { id: "查询", text: '查询'},
                     { id: "高级查询", text:'高级查询'},
                     { id: "表格,表单", text:'表格,表单'}
         ];
        //新增按钮
        function addSysButton(){
             mini.open({
                 url: "/miniCodegen/addButton",
                 title: "新增按钮列表",
                 width: 600,
                 height: 350,
                 onload: function () {       //弹出页面加载完成
                    var iframe = this.getIFrameEl(); 
                 	//取出当前行的Button
                 	if(prop.length > 0){
                 		for(var i = 0; i< prop.length;i++){
                 			if(!isNull(prop[i].sysButton)){
		                   		if(prop[i].sysButton.length > 0){
				                    var data = {action:"ok",buttonData:prop[i].sysButton};       
				                    //调用弹出页面方法进行初始化
				                    iframe.contentWindow.SetData(data); 
		                   		}else{//无元素则删除
		                   			removeByValue(prop, prop[i]);
		                   		}
                 			}
                 		}
                 	}
                 },
                 ondestroy: function (action) {
                     if (action == "ok") {
                         var iframe = this.getIFrameEl();
                         var data = iframe.contentWindow.GetData();
                         data = mini.clone(data);    //必须
                         if (data) {
                         	//取出当前行的hovMapping移除掉，换成最新的
                         	if(prop.length > 0){
         	                    for(var i = 0; i<prop.length;i++){
         	                    	if(!isNull(prop[i].sysButton)){
	                             	　　if(prop[i].sysButton > 0){
	                                 		removeByValue(prop, prop[i]);
	                             	　　}
         	                    	}
         	                    }
                         	}
                         	if(data.length > 0){
                         		var sysButton = {"sysButton":data};
                            	prop.push(sysButton);
                         	}
                         }
                     }
                 }
             });
        }
        
        function cancelToParent(){
        	window.parent.parent.onShow();
		}
//         function getData(){
//         	var data = window.parent.parent.getData();
//     	}
        
        //hov下拉
        function onHowMapping(e) {
       	 var row = doc_grid.getSelected();
            mini.open({
                url: "/miniCodegen/hovMapping",
                title: "默认hov回填值列表",
                width: 600,
                height: 350,
                onload: function () {       //弹出页面加载完成
                    var iframe = this.getIFrameEl(); 
                	//取出当前行的hovMapping
                	if(prop.length > 0){
	                    for(var i = 0; i< prop.length;i++){
                    	　　if(prop[i].field == row.name && prop[i].flag == "howMapping"){
	                    		if(prop[i].howMappingData.length > 0){
				                    var data = {action:"ok",mappingData:prop[i]};       
				                    //调用弹出页面方法进行初始化
				                    iframe.contentWindow.SetData(data); 
	                    		}else{//无元素则删除
	                    			removeByValue(prop, prop[i]);
	                    		}
                    	　　}
	                    }
                	}
                },
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);    //必须
                        if (data) {
                        	//取出当前行的hovMapping移除掉，换成最新的
                        	if(prop.length > 0){
        	                    for(var i = 0; i<prop.length;i++){
                            	　　if(prop[i].field == row.name && prop[i].flag == "howMapping"){
                                		removeByValue(prop, prop[i]);
                            	　　}
        	                    }
                        	}
                        	if(data.length > 0){
	                        	var howMappingName = row.name;
	                        	var howMappingTemp = {"howMappingData":data,"flag":"howMapping","field":row.name};
	                        	prop.push(howMappingTemp);
	                        	doc_grid.updateRow( row, {"hovOption.hovMapping":data[0].from});
	                        	doc_grid.cancelEdit();
                        	}else{
                        		doc_grid.updateRow( row, {"hovOption.hovMapping":""});
	                        	doc_grid.cancelEdit();
                        	}
                        }
                    }
                }
            });
        }
        //移除数组
        function removeByValue(arr, val) {
       	  for(var i=0; i<arr.length; i++) {
       	    if(arr[i] == val) {
       	      arr.splice(i, 1);
       	      break;
       	    }
       	  }
        }
        	
        
        function onDropDown(e) {
       	 var row = doc_grid.getSelected();
            mini.open({
                url: "/miniCodegen/dropDown",
                title: "hov下拉显示列表",
                width: 600,
                height: 350,
                onload: function () {       //弹出页面加载完成
                	var iframe = this.getIFrameEl(); 
                	//取出当前行的dropDown
                   	if(prop.length > 0){
	                    for(var i = 0; i< prop.length;i++){
                    	　　if(prop[i].field == row.name && prop[i].flag == "dropDown"){
	                    		if(prop[i].howDropDownData.length > 0){
	                    			var data = {action:"ok",dropDownData:prop[i]};       
	     		                    //调用弹出页面方法进行初始化
	     		                    iframe.contentWindow.SetData(data); 
	                    		}else{//无元素则删除
	                    			removeByValue(prop, prop[i]);
	                    		}
                    	　　}
	                    }
                	}
                },
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);    //必须
                        if (data) {
                        	//取出当前行的hovMapping移除掉，换成最新的
                        	if(prop.length > 0){
        	                    for(var i = 0; i<prop.length;i++){
                            	　　if(prop[i].field == row.name && prop[i].flag == "dropDown"){
                                		removeByValue(prop, prop[i]);
                            	　　}
        	                    }
                        	}
                        	if(data.length > 0){
                        		var dropDownName = row.name;
                            	var dropDownTemp = {"howDropDownData":data,"flag":"dropDown","field":row.name};
                            	prop.push(dropDownTemp);
                            	doc_grid.updateRow( row, {"hovOption.dropDown":data[0].name});
                            	doc_grid.cancelEdit();
                        	}else{
                        		doc_grid.updateRow( row, {"hovOption.dropDown":""});
                            	doc_grid.cancelEdit();
                        	}
                        }
                        
                    }

                }
            });
        }
        
      //获取form页面数据
      function generateCodeData(){
    	  	doc_grid.selectAll();
	      	var docdata = doc_grid.getSelecteds();
	      	var tableColumns = getTableColumns(dtl_grid);
	      	var docjson = mini.encode(docdata);
	      	var generateCodeJson = {"dataJson":docdata,"prop":prop,"tableColumns":tableColumns};
	      	return generateCodeJson;
      }
        
        var prop = [];
        function generateCode(){
        	if(formStatus == "0"){//单表
        		var currentData = generateCodeData();
        		generateCodeAjax(currentData,null,null,"0");
        	}else if(formStatus == "1"){//总单
        		var docData = generateCodeData();
        		var dtlData = window.parent.document.getElementById("dtlIframe").contentWindow.generateCodeData();
        		generateCodeAjax(null,docData,dtlData,"1");
        	}else if(formStatus == "2"){//细单
        		var dtlData = generateCodeData();
        		var docData = window.parent.document.getElementById("docIframe").contentWindow.generateCodeData();
        		generateCodeAjax(null,docData,dtlData,"2");
        	}
        }
        
        function generateCodeAjax(currentData,docData,dtlData,type){
        	$.ajax({
                type: "POST",
                url:"/miniCodegen/generateCode" ,
                data: {"currentData":mini.encode(currentData),"docData":mini.encode(docData),"dtlData":mini.encode(dtlData),"getData":mini.encode(getData),"type":type},
                success: function(AjaxMsg) {
                	if(AjaxMsg.ok){
                		mini.alert("代码生成成功!");
                	}else{
                		mini.alert("代码生成失败:"+AjaxMsg.msg);
                	}
                }, error: function(error) {
                	mini.alert(error);
                }
            });
        }
    	
    	function getTableColumns(tableGrid){
    		//获取表列
    	    var columns = tableGrid.columns;
    	    function getColumns(columns) {
    	        var cols = [];
    	        for (var i = 0; i < columns.length; i++) {
    	            var column = columns[i];
    	            if(column.visible){
	    	            var col = { header: column.header, field: column.field};
	    	            if (column.columns) {
	    	                col.columns = getColumns(column.columns);
	    	            }
	    	            cols.push(col);
    	            }
    	        }
    	        return cols;
    	    }
    	    var columns = getColumns(columns);
    	    return columns;
    	}
        function isNull(a) {
		    if (a == null || a == undefined || (typeof a == 'string' && a == '')) {
		        return true;
		    }
		    return false;
		}
        
        
      //]]> 	
    </script>

</body>
</html>